<section class="bg-slate-50">
    <div class="mx-auto max-w-fit h-fit">
    <p class="bg-gradient-to-r from-[#47B5FF]  via-[#5BC0F8] to-[#1363DF] bg-clip-text text-5xl font-extrabold text-transparent h-fit">Checkout</p>
    </div>
    <div *ngFor="let product of products">
    <div class="relative max-w-4xl px-4 py-8 mx-auto border-2 border-y-[#0960BD] border-x-transparent">
      <div class="grid items-start sm:grid-cols-1 gap-8 md:grid-cols-2">
        <div class="grid xl:grid-cols-1 gap-4 md:grid-cols-1 ">
          <img
          [src]="product.pictureUrl" 
          [alt]="product.title"
          [title]="product.title"
          class="object-cover w-full aspect-square rounded-xl"
          />
            
        </div>
        
        <div class="sticky top-0 flex flex-col gap-2 items-start mx-auto my-auto">
  
          <div class="flex justify-between mt-6">
            <div class="max-w-[35ch]">
              <h1 class="text-2xl font-bold">
                {{product.title}}
              </h1>

  
              <div class="mt-2 -ml-0.5 flex">
                <svg
                  class="w-5 h-5 text-[#1597E5]"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                  />
                </svg>
  
                <svg
                  class="w-5 h-5 text-[#1597E5]"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                  />
                </svg>
  
                <svg
                  class="w-5 h-5 text-[#1597E5]"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                  />
                </svg>
  
                <svg
                  class="w-5 h-5 text-[#1597E5]"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                  />
                </svg>
  
                <svg
                  class="w-5 h-5 text-gray-200"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  stroke="#1597E5"
                  fill="currentColor"
                >
                  <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                  />
                </svg>
              </div>
            </div>
          </div>
  


        <div>
        <div class="prose max-w-none group-open:hidden">
            <p>
            {{product.description}}
            </p>
        </div>
        </div>


            <fieldset>
              <legend class="mb-1 text-sm font-medium">Color</legend>
  
              <div class="flow-root">
                <div class="-m-0.5 flex flex-wrap">
                  <label for="color_tt" class="cursor-pointer p-0.5">
                    <input
                      type="radio"
                      name="color"
                      id="color_tt"
                      class="sr-only peer"
                    />
  
                    <span
                      class="inline-block px-3 py-1 text-xs font-medium border rounded-full group peer-checked:bg-red-500 peer-checked:text-black"
                    >
                      Red
                    </span>
                  </label>
  
                  <label for="color_fr" class="cursor-pointer p-0.5">
                    <input
                      type="radio"
                      name="color"
                      id="color_fr"
                      class="sr-only peer"
                    />
  
                    <span
                      class="inline-block px-3 py-1 text-xs font-medium border rounded-full group peer-checked:bg-gray-700 peer-checked:text-white"
                    >
                      Dark Gray
                    </span>
                  </label>
  
                  <label for="color_cb" class="cursor-pointer p-0.5">
                    <input
                      type="radio"
                      name="color"
                      id="color_cb"
                      class="sr-only peer"
                    />
  
                    <span
                      class="inline-block px-3 py-1 text-xs font-medium border rounded-full group peer-checked:bg-black peer-checked:text-white"
                    >
                      Black
                    </span>
                  </label>
                </div>
              </div>
            </fieldset>
  
  
              <div>
                <label for="quantity" class="sr-only">Qty</label>
              </div>
              <div class="flex mt-4 items-center">
                <button class="max-w-fit rounded border-gray-200 py-3 text-xl" (click)="handleDecrement()">-</button>
                <span>
                    <input name="quantity" id="quantity" [(ngModel)]="product.quantity" min="1" class="w-12 rounded py-3 text-center text-xs " disabled >
                </span>
                <button class="max-w-fit rounded border-gray-200 py-3 text-xl"  (click)="handleIncrement()">+</button>
            </div>

        <div class="flex">
            <span>
                Total:
                {{product.unitPrice * product.quantity | currency}}
            </span>
        </div>

          <button
            class="px-5 py-3 text-xs font-medium text-white bg-[#0960BD] rounded hover:bg-[#429FFD] w-3/6"
            (click) = "generatePreference()"
          >
            Pagar la compra
          </button>
        </div>
      </div>
    </div>
    </div>
  </section>
