<section class="bg-white">
    <div class="relative max-w-4xl px-4 py-8 mx-auto border-2 border-y-[#0960BD] border-x-transparent">
      <div class="grid items-start sm:grid-cols-1 gap-8 md:grid-cols-1">
          <div class="flex justify-center items-center">
            <div class="">
              
              <h1 class="text-4xl font-bold text-center">
                Tienda Azul
              </h1>

              <p class="mt-4 text-lg text-center mx-auto" *ngIf="status === 'success'">
                ¡Gracias por tu compra! Recibimos su pago y estamos procesando su pedido 🥳
              </p>
              <p class="mt-4 text-lg text-center mx-auto" *ngIf="status === 'pending'">
                Recibimos tu pedido. Tu pago está siendo procesado. Te avisaremos cuando esté listo 🤓
              </p>
              <p class="mt-4 text-lg text-center mx-auto" *ngIf="status === 'failure'">
                Tu pago ha sido rechazado. Por favor, intenta nuevamente 🤔
              </p>

              <!-- animaciones -->
                <div class="max-w-[35ch] mx-auto">
                  <img [src]="imageSrc"  alt="{{status}}">
                </div>
              <!-- animaciones -->
              <div class="flex flex-col m-2">
                      <table class="min-w-full text-center">
                        <tbody>
                          <tr class="border-b bg-gray-800 boder-gray-900">
                            <td class="text-sm text-white font-medium px-6 py-4 text-start">
                              Payment Id
                            </td>
                            <td class="text-sm text-white font-light px-6 py-4 text-end">
                              {{paymentId}}
                            </td>
                          </tr>
                          <tr class="border-b bg-gray-800 boder-gray-900">
                            <td class="text-sm text-white font-medium px-6 py-4 text-start">
                              Payment External Reference
                            </td>
                            <td class="text-sm text-white font-light px-6 py-4 text-end">
                              {{externalReference}}
                            </td>
                          </tr>
                          <tr class="border-b bg-gray-800 boder-gray-900">
                            <td class="text-sm text-white font-medium px-6 py-4 text-start">
                              Payment Preference Id
                            </td>
                            <td class="text-sm text-white font-light px-6 py-4 text-end">
                              {{preferenceId}}
                            </td>
                          </tr>
                          <tr class="border-b bg-gray-800 boder-gray-900">
                            <td class="text-sm text-white font-medium px-6 py-4 text-start">
                              Merchant Order Id
                            </td>
                            <td class="text-sm text-white font-light px-6 py-4 text-end">
                              {{merchantOrderId}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
              </div>


                <button
                class="px-3 py-2 text-xs font-medium text-white bg-[#0960BD] rounded hover:bg-[#429FFD] w-3/6 cho-container mx-auto  flex justify-center items-center"
                [routerLink]="['/checkout']"
              >
                Volver a comprar
              </button>
            </div>
          </div>




      </div>
    </div>
</section>


