<div class="flex flex-col justify-between min-h-screen bg-white">

<nav
  aria-label="Site Nav"
  class=" flex max-w-screen items-center justify-between p-4 bg-[#0960BD] "
>

<span class="rounded-lg px-3 py-2 text-white">👋 Bienvenido, Lalo Landa</span>
<p class=""> </p>

  <ul class="flex items-center gap-2 text-sm font-medium text-white">
    <li class="hidden lg:block">
      <a class="rounded-lg px-3 py-2" href="/"> Home </a>
    </li> 

    <li><a class="rounded-lg px-3 py-2" href=""> Projects </a></li>

    <li>
      <a
        class="inline-flex items-center rounded-lg px-3 py-2"
        href=""
        target="_blank"
      >
        External
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="ml-1.5 h-4 w-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
          ></path>
        </svg>
      </a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer aria-label="Site Footer" class="bg-gray-50 h-20">
  <div class="mx-auto max-w-screen-xl px-4  sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center sm:justify-between text-end">
      Hecho por Federico Silva

    </div>
  </div>
</footer>

</div>
