<section class="bg-slate-50" >
    <div class="mx-auto max-w-fit h-fit">
    <p class="bg-gradient-to-r from-[#47B5FF]  via-[#5BC0F8] to-[#1363DF] bg-clip-text text-5xl font-extrabold text-transparent h-fit">Checkout</p>
    </div>
    <div *ngFor="let product of products">

    <div class="relative max-w-4xl px-4 py-8 mx-auto border-2 border-y-[#0960BD] border-x-transparent">
      <div class="grid items-start sm:grid-cols-1 gap-8 md:grid-cols-2">
        <div class="grid xl:grid-cols-1 gap-4 md:grid-cols-1 ">
          <img
          [src]="product.pictureUrl" 
          [alt]="product.title"
          [title]="product.title"
          class="object-cover w-full aspect-square rounded-xl"
          />
            
        </div>
        
        <div class="sticky top-0 flex flex-col gap-2 items-start mx-auto my-auto">
  
          <div class="flex justify-between mt-6">
            <div class="max-w-[35ch]">
              <h1 class="text-2xl font-bold">
                {{product.title}}
              </h1>
            </div>
          </div>
  


        <div>
        <div class="prose max-w-none group-open:hidden">
            <p>
            {{product.description}}
            </p>
        </div>
        </div>
        <div class="flex">
            <span>
                Price:
                {{product.unitPrice}}
            </span>
        </div>

          <button
            class="px-5 py-3 text-xs font-medium text-white bg-[#0960BD] rounded hover:bg-[#429FFD] w-3/6"
            [routerLink]="['/checkout']"
          >
            Ir a comprar
          </button>
        </div>
      </div>
    </div>
    </div>
  </section>